<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="col-lg-3 col-md-3 mainheading"><h1>TaskManager</h1></div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="ViewTask" routerLinkActive="active-link" id="viewTask">View Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="AddTask" routerLinkActive="active-link" id="addTask">Add Task</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>