<div class="row">
    <div class="col-sm-2"><label class="col-form-label">Task</label></div>
    <div class="col-sm-6">
        <input type="text" id="txtTask" [(ngModel)]="task.TaskName" required>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"><label class="col-form-label">Priority</label></div>
    <div class="col-sm-6">
        <input type="range" id="txtPriorty" min="0" max="10" [(ngModel)]="task.Priority" required>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"><label class="col-form-label">Parent Task</label></div>
    <div class="col-sm-6">
        <input type="number" id="txtParentTask" [(ngModel)]="task.Parent_ID" required>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"><label class="col-form-label">Start Date</label></div>
    <div class="col-sm-6">
        <input type="date" id="dtStartDate" [(ngModel)]="task.Start_Date" required>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"><label class="col-form-label">End Date</label></div>
    <div class="col-sm-6">
        <input type="date" id="dtEndDate" [(ngModel)]="task.End_Date" required>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"><label class="col-form-label">&nbsp;</label></div>
    <div class="col-sm-2">
        <button type="button" id="btnAdd" (click)="AddTask(task)">Add</button>
    </div>
    <div class="col-sm-2">
        <button type="button" id="btnEdit" (click)="clearScreen()">Reset</button>
    </div>
</div>