<div class="row">
  <div class="col-sm-12">
    <div class="content"> &nbsp; </div>
  </div>
</div>
<form [formGroup]="viewTaskForm">
  <div class="container">
    <div class="row align-items-start mt-2">
      <div class="col-sm-2">
        <label class="col-form-label">Task</label>
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" formControlName ="txtTask">
      </div>
      <div class="col-sm-2">
        <label class="col-form-label">Parent Task</label>
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" formControlName="txtParentTask">
      </div>
    </div>
    <div class="row align-items-start mt-2">
      <div class="col">
        <label class="col-form-label">Prioriy From</label>
      </div>
      <div class="col">
        <input type="text" formControlName="txtPriorityFrom" class="form-control">
      </div>
      <div class="col">
        <label class="col-form-label">Priority To</label>
      </div>
      <div class="col">
        <input type="text" formControlName="txtPriorityTo" class="form-control">
      </div>
      <div class="col">
        <label class="col-form-label">Start Date</label>
      </div>
      <div class="col">
        <input type="date" formControlName="dtStartDate" class="form-control">
      </div>
      <div class="col">
        <label class="col-form-label">End Date</label>
      </div>
      <div class="col">
        <input type="date" formControlName="dtEndDate" class="form-control">
      </div>
    </div>
  </div>
</form>
<div class="container">
  <table id="tdListAlltask" class="table">
    <thead>
      <th>Task</th>
      <th>Parent</th>
      <th>Priortiy</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
      <th></th>
    </thead>
    <tbody *ngFor="let eachTsk of taskCollection| SearchTask: viewTaskForm.controls['txtTask'].value : viewTaskForm.controls['txtParentTask'].value : viewTaskForm.controls['txtPriorityFrom'].value : viewTaskForm.controls['txtPriorityTo'].value : viewTaskForm.controls['dtStartDate'].value : viewTaskForm.controls['dtEndDate'].value">
      <tr>
        <td>{{eachTsk.TaskName}}</td>
        <td>{{eachTsk.Parent_ID}}</td>
        <td>{{eachTsk.Priority}}</td>
        <td>{{eachTsk.Start_Date | date:'MM/dd/yyy'}}</td>
        <td>{{eachTsk.End_Date | date:'MM/dd/yyy'}}</td>
        <td><button clsname="Edit" class="button" [disabled]="eachTsk.isTaskEnd" id="btnEdit" [routerLink]="['/AddTask',eachTsk.Task_ID]">Edit</button></td>
        <td><button name="EndTask" class="button" [disabled]="eachTsk.isTaskEnd" id="btnEndTask" (click)="endTask(eachTsk.Task_ID)">End Task</button></td>
      </tr>
    </tbody>
  </table>
</div>